<header>
    <ul class="nav-items">
        <li class="nav-item">
            <!-- Botón para desplegar el menú lateral -->
            <div id="aside-toggle">
                <i class='bx bx-menu'></i> <!-- Icono del menú -->
            </div>
            
            <!-- Botón de casa (Home) -->
            <a href="/" class="blog-button">
                <i class='bx bx-home'></i> <!-- Icono de home -->
                Home
            </a>
            
            <!-- Botón hacia la sección de blogs -->
            <a href="/blog" class="blog-button">
                <i class='bx bx-news'></i> <!-- Icono de blog -->
                Blogs
            </a>

            <a href="https://coyotemmk.github.io/ITI-TESTS.github.io" class="blog-button">
                TEST
            </a>
            
        </li>
    </ul>  
</header>
