<header>
    <ul class="nav-items">
        {% for item in site.data.navigation %}
        <li class="nav-item">
            <!-- Botón para desplegar el menú lateral -->
            <div id="aside-toggle">
                <a class='bx bx-menu'></a> <!-- Icono del menú -->
            </div>
        
            <!-- Botón de casa (Home) -->
            <a href="/" class="bx bx-home">Casa</a>
            
            <!-- Botón hacia la sección de blogs -->
            <a href="/blog" class="blog-button">
                <i class='bx bx-news'></i> <!-- Icono de blog -->
                Blogs
            </a>
        </li>
        {% endfor %}
    </ul>  
</header>
