
#aside-toggle {
    display: flex; // Mostrar siempre el botón de menú
    cursor: pointer;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 20px; // Ajusta según el espacio necesario para el botón
    left: 20px;
    z-index: 1010; // Asegura que el botón esté por encima del contenido principal
}

#aside-nav {
    display: none; // Oculto por defecto
    height: calc(100vh - $header-height); // Altura ajustada según el header
    width: $aside-width; 
    color: $primary;
    background-color: $white;
    padding: 32px 16px;
    position: fixed;
    top: $header-height; // Debajo del header
    left: 0;
    overflow-y: auto;
    padding-bottom: 14vh;
    z-index: 1000;
    transform: translateX(-100%); // Oculto fuera de la pantalla
    transition: transform 0.4s ease;

    &.active {
        transform: translateX(0); // Desplazamiento cuando está activo
    }
}

// Ajuste adicional si el menú debe ocupar toda la pantalla en pantallas pequeñas
@media screen and (max-width: $ms-width) {
    #aside-nav {
        width: 100%; // Ocupa todo el ancho en pantallas pequeñas
    }
}

#aside-nav h2{
    padding-bottom: 8px;
}

#aside-nav h2::after{
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #0000004d;
    margin-top: 8px;
}

#aside-nav ul{
    padding-left: 16px;
    list-style: none;
    display: flex;
    flex-direction: column;
}

#aside-nav ul li a{
    display: inline-block;
    text-decoration: none;
    color: inherit;
    font-size: 1em;
    width: 100%;
    padding: 4px;
}

#aside-nav ul li a:hover{
    color: $primary;
    text-decoration: underline;
}

.year-button{
    width:100%;
    background-color: $tertiary;
    color: $white;
    padding: 4px;
    cursor: pointer;
}

@media screen and (max-width: $ms-width){
    #aside-toggle{
        display: flex;
        cursor: pointer;
    }

    #aside-nav{
        font-size: 1.25em;
        display: none;
        background: #f1f1f1d5;
        backdrop-filter: blur(12px);
        position: fixed;
        z-index: 100;
        border-right: 1px solid #dddddd4f;
        width: 100%;
    }


