
/* Estilos del menú lateral oculto inicialmente */
#aside-nav {
    display: none;
    position: fixed;
    top: 60px; /* Ajusta esto a la altura de tu header */
    left: 0;
    width: 300px; /* Ancho del menú */
    height: calc(100vh - 60px); /* Altura de la pantalla menos la del header */
    background-color: #121212;
    overflow-y: auto;
    z-index: 999;
}

/* Mostrar el menú lateral cuando esté activo */
#aside-nav.active {
    display: block;
    animation: slideIn 0.4s forwards;
}

/* Ajuste para el contenido cuando el menú está visible */
.content {
    margin-left: 0;
    transition: margin 0.4s ease;
}

.content.menu-visible {
    margin-left: 300px; /* Margen que deja espacio para el menú */
}

/* Animación para el menú lateral */
@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}
