/* Estilos para el header */
header {
    min-height: $header-height;
    width: 100%;
    padding-block: 16px;
    padding-inline: 24px;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 999;
    box-shadow: 0px 0px 8px 0px #00000033;
    background: #f1f1f1d5;
    backdrop-filter: blur(12px);
}

/* Estructura del contenedor de navegación */
.nav-items {
    display: flex;
    width: 100%;
    align-items: center;
}

/* Estilos para los botones en general */
.nav-item {
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

/* Botón de Blog alineado a la izquierda */
.blog-button {
    display: flex;
    align-items: center;
    color: $black;
    padding: 0 16px;
    margin-right: auto; /* Empuja el botón de Home hacia el centro */
}

/* Botón de Home centrado */
.home-button {
    display: flex;
    align-items: center;
    color: $black;
    padding: 0 16px;
    margin: 0 auto; /* Centro del header */
}

/* Hover individual para cada botón */
.nav-item a:hover {
    background: $header-button-color;
    color: $white;
}

/* Ajuste de icono y texto en los botones */
.nav-item a span {
    font-size: 1.25rem;
    font-weight: 500;
    padding-inline: 8px;
}
