header{
    min-height: $header-height;
    width: 100%;
    padding-block: 16px;
    padding-inline: 24px;
    display: flex;
    justify-content: left;
    gap: 16px;
    align-items: center;
    flex-direction: row;
    //background: $white;
    color: $black;
    border-bottom: 1px solid #dddddd4f;
    position: fixed;
    z-index: 999;
    box-shadow: 0px 0px 8px 0px #00000033;
    background: #f1f1f1d5;
    backdrop-filter: blur(12px);
}

.logo-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: $black;
    transition: all 0.2s ease-in-out;
}

.logo-wrapper:hover{
    background: $header-button-color;
    color: $white;
}

.logo-wrapper h1{
    font-size: 2rem;
    font-weight: 700;
    font-family: 'Console';
    padding: 8px;
    padding-left: 12px;
}

/* Ajustar el espaciado entre los botones */
.nav-items {
    display: flex;
    gap: 16px; /* Asegura espacio entre cada .nav-item */
}

/* Espaciado adicional en cada item */
.nav-item {
    margin-right: 8px; /* Añade espacio entre cada item */
    display: flex;
    text-decoration: none;
}

/* Evita que el hover se aplique a todos los botones */
.nav-item a {
    height: 38px;
    padding: 0 16px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: $black;
    transition: all 0.2s ease-in-out;
}

/* Hover específico en cada enlace */
.nav-item a:hover {
    background: $header-button-color;
    color: $white;
}

/* Evitar que el hover afecte a todos los elementos */
.nav-item:hover {
    background: none; /* Elimina el fondo gris al pasar el ratón */
}

/* Ajustar tamaño y espaciado del texto */
.nav-item a span {
    font-size: 1.25rem;
    font-weight: 500;
    padding-block: 8px;
    padding-inline: 16px;
    transition: all 0.2s ease-in-out;
}

/*
@media screen and (max-width: $ss-width){
    .nav-item a span{
        font-size: 1rem;
    }
}
*/
