#index-banner{
    gap: 4px;
}

#home-face-img{
    max-height: 262px;
    height: 85%;
    width: auto;
    border-radius: 50%;
}

.content.index-content{
    gap: 32px;
}

.section-title{
    display: flex;
    align-items: center;
    font-size: 1.75em;
    margin-block: 32px;
}

.section-title i{
    font-size: 3rem;
    margin-right: 8px;
    color: $accent-color;
}

.section-h2-title{
    font-size: 1.25em;
    margin-block: 16px;
}

.section-h3-title{
    font-size: 1.1em;
    margin-block: 16px;
}

.section-aboutme .section-text{
    line-height: 1.6;
    margin-block: 16px;
}

.contact-list{
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
    div {
        display: flex;
        align-items: center;
        gap: 8px;
    }
    .contact-item{
        width: 100%;
        padding: 16px 0px 0px 0px;
        a{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            background-color: $white;
            text-align: center;
            padding: 16px;
            font-size: 1.2em;
            border: 1px solid $light-grey-border;
            border-radius: 8px;
            display: flex;
            align-items: center;
            transition: all 0.3s ease-in-out;
            gap: 4px;
            text-decoration: none;
            color: $black;
            i{
                font-size: 1.8rem;
            
            }
        }
        a:hover{
            color: $white;
            background-color: $tertiary;
        }
    }
}

.knowledge-list{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    list-style: none;
}

.knowledge-item{
    background-color: $primary;
    display: flex;
    align-items: center;
    color: #fff;
    padding: 8px 16px;
    border-radius: 8px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    transition: background-color 0.3s ease-in-out;
}

.knowledge-item:hover{
    background-color: $accent-color;
}

.knowledge-title i{
    font-size: 1.5rem;
    margin-right: 8px;
}

.knowledge-title{
    display: flex;
    align-items: center;
}

.work-experience-wrapper{
    display: flex;
    flex-direction: column;
}

.work-experience-details{
    padding: 16px;
    margin-block: 16px;
    border: 1px solid $light-grey-border;
}